node-red-design-and-code.json
[{"id":"29150a19.afff06","type":"tab","label":"Group4_node-red","disabled":false,"info":""},{"id":"2c0b9399.7813fc","type":"ui_button","z":"29150a19.afff06","name":"","group":"50a8a46c.e518dc","order":2,"width":0,"height":0,"passthru":false,"label":"Unlock_dashboard","tooltip":"","color":"","bgcolor":"","icon":"lock","payload":"true","payloadType":"bool","topic":"show","topicType":"str","x":170,"y":140,"wires":[["a61585cd.9b6cd8","e6d16553.f88c18"]]},{"id":"a61585cd.9b6cd8","type":"ui_template","z":"29150a19.afff06","group":"4af0399c.9731f8","name":"Pin_unlock","order":2,"width":0,"height":0,"format":"<div ng-init=\"init()\" id=\"pin_insert\" class=\"dialog\">\n    \n    <div class=\"dialog_content\">\n        \n        <div class=\"dialog_header\">\n            <span ng-click=\"closeDialog()\" class=\"close\">&times;</span>\n            <h2 style=\"margin:10px\">Insert PIN</h2>\n        </div>\n        \n        <div class=\"dialog_body\">\n\n           <div layout=\"row\" layout-align=\"center\">\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(0, 1)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(1, 2)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(2, 3)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(3, 4)}}\n                </div>\n            </div>\n            \n            <div layout=\"column\" layout-align=\"center\" style=\"margin-top: 10px\">\n                <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(1)\">1</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(2)\">2</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(3)\">3</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(4)\">4</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(5)\">5</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(6)\">6</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(7)\">7</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(8)\">8</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(9)\">9</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"confirm()\">\n                            <ng-md-icon icon=\"done\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(0)\">0</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"delete()\">\n                            <ng-md-icon icon=\"arrow_back\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                </div>\n            </div> \n          \n        </div> <!--dialog_body-->\n    </div> <!--dialog_content-->\n</div>  <!--dialog-->\n\n\n<style>\n\n/* The Dialog (background) */\n.dialog {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    z-index: 9999; /* Sit on top */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n    -webkit-transform: translateZ(0px);\n    -webkit-transform: translate3d(0,0,0);\n    -webkit-perspective: 1000;\n}\n\n.dialog_content {\n    position: absolute;\n    background-color: #fff;\n    left: calc(50% - 170px);\n    top: 30px;\n    border-radius: 10px;\n    padding: 0;\n    width: 340px;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    animation-name: animatetop;\n    animation-duration: 0.4s;\n}\n\n/* Media query for smartphones  */\n@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { \n    .dialog_content {\n    margin-top: 5%;\n    margin-left: 5%;\n}\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top: -300px; opacity: 0} \n    to {top: 0; opacity: 1}\n}\n\n@keyframes animatetop {\n    from {top: -300px; opacity: 0}\n    to {top: 0; opacity: 1}\n}\n\n/* Dialog Header */\n.dialog_header {\n    padding: 2px 16px;\n    background-color: #03A9F4;\n    border-radius: 10px 10px 0 0;\n    color: white;\n}\n\n/* Dialog Body */\n.dialog_body {padding: 5px;}\n\n/* The Close Button */\n.close {\n    color: #fff;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n    cursor: pointer;\n}\n\n.close:hover,\n.close:focus {\n    color: #1565C0;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n/* __ */\n.number_placeholder{\n    width: 50px;\n    height: 34px;\n    margin: 10px;\n    font-size: 20pt;\n    text-align: center;\n    border-bottom: 1px solid black;\n}\n\n/* Number container */\n.number_box{\n    margin: 5px;\n}\n\n/* Buttons style */\n.pin {\n    min-height: 50px;\n    min-width: 50px;\n    font-weight: bold;\n    margin: 0px 10px 10px 0px;\n    box-shadow: 4px 4px 6px 0 #dadada;\n    background-color: #29B6F6;\n    color: #fff;\n}\n\n.pin:not([disabled]):hover {\n    background-color: #03A9F4;\n}\n\n.btn1 {\n  color : rgb(49, 46, 46);\n  background-color: rgba(255, 222, 121, 0.96);\n  border-radius: 10px 0 0 10px;\n  font-size: 16px;\n}\n\n.btn1:not([disabled]):hover {\n  background-color: rgba(107, 103, 91, 0.96);\n  color: white;\n}\n\n.btn1[disabled] {\n  color : rgb(187, 187, 187);\n  background-color: rgba(230, 230, 229, 0.96);\n}\n\n</style>\n\n<script>\n\n/**\n * pin_dialog.js\n * Node-Red UI template for Node-Red Dashboard. \n * Custom dialog that asks for a PIN to allow actions\n\n */\n\nvar dialog;\n\n/* ==== */\n(function(scope) {\n    \n    scope.passcode = \"\";\n    scope.payload = \"\";\n    scope.inited = false;\n    \n    scope.init = function() {\n        scope.passcode = \"\";\n        //Hide the md-panel\n        $('#pin_insert').parent().parent().css(\"display\", \"none\");\n        dialog = $('#pin_insert').detach();\n        $('.dialog').remove();\n    }\n    \n    scope.showDialog = function() {\n        dialog.appendTo(document.body);\n        dialog.css(\"display\", \"block\");\n    }\n    \n    scope.closeDialog = function(){\n        dialog.css(\"display\", \"none\");\n    }\n    \n    scope.add = function(value) {\n        if(scope.passcode.length < 4) {\n            scope.passcode = scope.passcode + value;\n            if(scope.passcode.length == 4) {\n                console.log(\"The four digit code was entered\");\n                   \n            }\n        }\n    }\n \n    scope.delete = function() {\n        if(scope.passcode.length > 0) {\n            scope.passcode = scope.passcode.substring(0, scope.passcode.length - 1);\n        }\n    }\n    \n    scope.confirm = function() {\n        if(scope.passcode.length == 4) {\n            scope.send({passcode: scope.passcode, payload : scope.payload});\n            scope.closeDialog();\n            scope.passcode = \"\";\n            scope.payload = \"\";\n        }\n    }\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n               case \"show\":\n                   if(scope.inited){\n                        scope.payload = data.payload;\n                        scope.showDialog();\n                   }\n                   else\n                        scope.inited = true;\n                break;\n                case \"close\": \n                    scope.closeDialog(); \n                break;\n            }\n        }\n    });\n})(scope);\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":310,"y":200,"wires":[["7a0cf1e0.ab383"]]},{"id":"7a0cf1e0.ab383","type":"function","z":"29150a19.afff06","name":"verify_pin","func":"var pins = global.get(\"pin\");\nvar verified = false;\n\nfor(var i=0;i<pins.length;i++){\n    if(msg.passcode == pins[i]){\n        verified = true;\n        break;\n    }\n}\n\nmsg.verified = verified;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":180,"wires":[["e364e87f.187f98"]]},{"id":"e364e87f.187f98","type":"switch","z":"29150a19.afff06","name":"check","property":"verified","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":180,"wires":[["bb4d9c44.9045"],["e1390ad.677dbf8"]]},{"id":"bb4d9c44.9045","type":"function","z":"29150a19.afff06","name":"pin_ok","func":"var msg2 = {};\nmsg2.topic = \"Pin successfully verified!\";\nmsg2.payload = {tab: \"text\"};\n    \nreturn msg2;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":120,"wires":[["852cbea.8450a4","2180ebb7.88d284","4673e5c.65ae81c","8329ce79.76ee2","8df4b8e7.b431a8","f35c31dd.d1a4a"],["f287748f.bfbe18"]]},{"id":"e1390ad.677dbf8","type":"function","z":"29150a19.afff06","name":"pin_error","func":"msg.topic = \"Wrong PIN\";\nmsg.payload = \"\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":240,"wires":[["f287748f.bfbe18"]]},{"id":"f287748f.bfbe18","type":"ui_toast","z":"29150a19.afff06","position":"top right","displayTime":"1000","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":980,"y":260,"wires":[]},{"id":"852cbea.8450a4","type":"function","z":"29150a19.afff06","name":"show weather","func":"msg.payload = {\"tabs\":{\"show\":[\"MyFarm-Weather\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":20,"wires":[["6274448.7adf6bc"]]},{"id":"2180ebb7.88d284","type":"function","z":"29150a19.afff06","name":"Focus weather","func":"msg.payload = \"MyFarm-Weather\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":60,"wires":[["adba9560.482228"]]},{"id":"4673e5c.65ae81c","type":"function","z":"29150a19.afff06","name":"hide home","func":"msg.payload = {\"tabs\":{\"hide\":[\"home\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":140,"wires":[["a686041a.907bb8"]]},{"id":"6274448.7adf6bc","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":1120,"y":20,"wires":[[]]},{"id":"adba9560.482228","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":1130,"y":100,"wires":[[]]},{"id":"a686041a.907bb8","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"all","x":1150,"y":180,"wires":[[]]},{"id":"340d067f.2f180a","type":"openweathermap","z":"29150a19.afff06","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":430,"y":740,"wires":[["c898f2b4.5eda4","381adf42.274ae","a8e5cb81.fd0148","2370fbfc.ca6624","b09ffdc.6d6bc","f797ef15.454eb","3f0f3a24.9208b6","99dd591d.742578","400aa0dd.3fed3","c53f9eb7.b1147"]]},{"id":"c898f2b4.5eda4","type":"function","z":"29150a19.afff06","name":"Chart_function","func":"var msg_temp = {};\nvar msg_humidity={};\nvar msg_final={};\n\nmsg_temp.payload= msg.payload.tempc;\nmsg_temp.topic =\"Temperature\";\n\nmsg_humidity.payload= msg.payload.humidity;\nmsg_humidity.topic =\"Humidity\";\n\nreturn [msg_temp , msg_humidity]\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":640,"wires":[["78b641d1.19844","502dd35a.2085fc"],["78b641d1.19844","502dd35a.2085fc"]]},{"id":"502dd35a.2085fc","type":"function","z":"29150a19.afff06","name":"Show temperature and humidity","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"Temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"Humidity\":\n        context.data.humidity = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.temperature !== null && context.data.humidity !== null && context.data.temperature !== undefined && context.data.humidity !== undefined) {\n\tmsgOut = \"\"; //new Object();\n    msgOut = \"Temperature : \" \n    msgOut += context.data.temperature.toString(); \n    msgOut+= \"°C - Humidity : \"; \n    msgOut+= context.data.humidity.toString();\n    msgOut+= \"%\";\n    context.data=null;\n    var msg = {};\n    msg.payload = msgOut;\n\treturn msg;\n} \n//else return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":760,"wires":[["47b71d30.824774"]]},{"id":"381adf42.274ae","type":"ui_gauge","z":"29150a19.afff06","name":"","group":"2a22b963.41b466","order":2,"width":6,"height":3,"gtype":"gage","title":"Temparature","label":"celcius","format":"{{msg.payload.tempc}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":580,"wires":[]},{"id":"a8e5cb81.fd0148","type":"ui_gauge","z":"29150a19.afff06","name":"","group":"2a22b963.41b466","order":4,"width":6,"height":3,"gtype":"gage","title":"Humidity","label":"grams per cubic meter","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":640,"wires":[]},{"id":"78b641d1.19844","type":"ui_chart","z":"29150a19.afff06","name":"","group":"dcc96526.773b08","order":2,"width":6,"height":8,"label":"Temperature and Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1090,"y":680,"wires":[[]]},{"id":"47b71d30.824774","type":"ui_text","z":"29150a19.afff06","group":"2a22b963.41b466","order":6,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1010,"y":760,"wires":[]},{"id":"9e6e1943.404638","type":"inject","z":"29150a19.afff06","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":90,"y":680,"wires":[["1c4a5526.e9c8bb","2d1f4c2c.73cac4"]]},{"id":"6b0ee766.441098","type":"http request","z":"29150a19.afff06","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":1420,"wires":[["8c67aef2.81ed4","24a446d9.41ddba","5c8b2993.54a638","5f2385bc.724d7c","64f9caf.8ae5034","8e77c491.f42bd8"]]},{"id":"8c67aef2.81ed4","type":"function","z":"29150a19.afff06","name":"Chart_function","func":"var msg_temp = {};\nvar msg_moisture={};\nvar msg_final={};\n\nmsg_temp.payload= Math.round(msg.payload.data[0].soil_temperature);\nmsg_temp.topic =\"Temperature\";\n\nmsg_moisture.payload= Math.round(msg.payload.data[0].soil_moisture);\nmsg_moisture.topic =\"moisture\";\n\nreturn [msg_temp , msg_moisture]\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1520,"wires":[["6fd82f9a.afdcb","d2dbea6b.92c4e8"],["6fd82f9a.afdcb","d2dbea6b.92c4e8"]]},{"id":"d2dbea6b.92c4e8","type":"function","z":"29150a19.afff06","name":"Show temperature and humidity","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"Temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"moisture\":\n        context.data.moisture = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.temperature !== null && context.data.moisture !== null && context.data.temperature !== undefined && context.data.humidity !== undefined) {\n\tmsgOut = \"\"; //new Object();\n    msgOut = \"Temperature : \" \n    msgOut += context.data.temperature.toString(); \n    msgOut+= \"°C - Moisture : \"; \n    msgOut+= context.data.moisture.toString();\n    msgOut+= \"%\";\n    context.data=null;\n    var msg = {};\n    msg.payload = msgOut;\n\treturn msg;\n} \n//else return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1700,"wires":[["64b32bbe.a226d4"]]},{"id":"76bf9050.9137b","type":"ui_gauge","z":"29150a19.afff06","name":"","group":"efbe594.005aea8","order":2,"width":6,"height":3,"gtype":"gage","title":"Soil Temparature","label":"Celcius","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":1280,"wires":[]},{"id":"d46834e0.43d1a8","type":"ui_gauge","z":"29150a19.afff06","name":"","group":"efbe594.005aea8","order":4,"width":6,"height":3,"gtype":"gage","title":"Soil Moisture","label":"grams per cubic meter","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":1340,"wires":[]},{"id":"6fd82f9a.afdcb","type":"ui_chart","z":"29150a19.afff06","name":"","group":"784c5290.067adc","order":2,"width":6,"height":8,"label":"Temperature and Moisture","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1090,"y":1620,"wires":[[]]},{"id":"64b32bbe.a226d4","type":"ui_text","z":"29150a19.afff06","group":"efbe594.005aea8","order":6,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":1700,"wires":[]},{"id":"dbe7b1a1.3d78a","type":"change","z":"29150a19.afff06","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\": \"application/json\"}","tot":"json"},{"t":"set","p":"headers","pt":"msg","to":"{\"x-api-key\": \"AJ5runyLo68ez3HHdkim5xoAYXrbeBla08Qe6kN0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1040,"wires":[["6b0ee766.441098"]]},{"id":"8329ce79.76ee2","type":"function","z":"29150a19.afff06","name":"show soil","func":"msg.payload = {\"tabs\":{\"show\":[\"MyFarm-Soil\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":60,"wires":[["5931b604.a69978"]]},{"id":"5931b604.a69978","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":1330,"y":60,"wires":[[]]},{"id":"24a446d9.41ddba","type":"function","z":"29150a19.afff06","name":"Round_temp","func":"var msg_temp_1 = {};\n\n\nmsg_temp_1.payload= Math.round(msg.payload.data[0].soil_temperature);\nmsg_temp_1.topic =\"Temperature\";\n\nreturn msg_temp_1","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1320,"wires":[["76bf9050.9137b","99e553ee.268ed","b9eaf59a.d34d08"]]},{"id":"3f0f3a24.9208b6","type":"function","z":"29150a19.afff06","name":"","func":"var today = new Date();\n\nvar date = today.getFullYear()+\n            '-'+ (today.getMonth()+1)+\n            '-'+ today.getDate() + \n            ' ' + today.getHours() + \n            \":\" + today.getMinutes() + \n            \":\" + today.getSeconds();\n\nvar new_payload = date;\nnew_payload += \"     \";\n\nnew_payload = new_payload + msg.payload.humidity + \"            \" + msg.payload.tempc ;\nreturn { payload: new_payload };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":840,"wires":[["76005d1b.2bcf14"]],"outputLabels":["Temp Max"]},{"id":"76005d1b.2bcf14","type":"GSheet","z":"29150a19.afff06","creds":"a65cedfe.c13bc","method":"append","action":"","sheet":"1321-9NrBzQR_PAuiv7JhMjZSrdotvAa94tviypPeYRI","cells":"sheet3!A2","flatten":false,"name":"","x":835,"y":900,"wires":[[]],"l":false},{"id":"b09ffdc.6d6bc","type":"function","z":"29150a19.afff06","name":"Temperature","func":"\nreturn { payload:msg.payload.tempc };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1020,"wires":[["830aa53b.2414a8"]]},{"id":"f797ef15.454eb","type":"function","z":"29150a19.afff06","name":"Humidity","func":" \n\nreturn { payload:msg.payload.humidity };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":1060,"wires":[["c289109b.fb4b4"]]},{"id":"183875ca.33fe6a","type":"http request","z":"29150a19.afff06","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://agroiot-db-316900-default-rtdb.firebaseio.com//date.json","tls":"","persist":false,"proxy":"","authType":"","x":939.0000038146973,"y":940.0000047683716,"wires":[["976fc8f1.e8dc28"]]},{"id":"976fc8f1.e8dc28","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1139.0000038146973,"y":940.0000047683716,"wires":[]},{"id":"c289109b.fb4b4","type":"http request","z":"29150a19.afff06","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://agroiot-db-316900-default-rtdb.firebaseio.com/humidity.json","tls":"","persist":false,"proxy":"","authType":"","x":939.0000038146973,"y":1060.0000047683716,"wires":[["dcd03512.90bf38"]]},{"id":"dcd03512.90bf38","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1099.0000038146973,"y":1060.0000047683716,"wires":[]},{"id":"830aa53b.2414a8","type":"http request","z":"29150a19.afff06","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://agroiot-db-316900-default-rtdb.firebaseio.com//temp.json","tls":"","persist":false,"proxy":"","authType":"","x":959.0000038146973,"y":1000.0000047683716,"wires":[["5d8cda05.4f3ee4"]]},{"id":"5d8cda05.4f3ee4","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1129.0000038146973,"y":1000.0000047683716,"wires":[]},{"id":"2370fbfc.ca6624","type":"change","z":"29150a19.afff06","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":960,"wires":[["183875ca.33fe6a"]]},{"id":"99e553ee.268ed","type":"function","z":"29150a19.afff06","name":"soil_Temp","func":"\nreturn { payload:msg.payload };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1380,"wires":[["5ff3e4c1.93df8c"]]},{"id":"9f840ad.546daf8","type":"function","z":"29150a19.afff06","name":"soil_Moist","func":" \n\nreturn { payload:msg.payload };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1420,"wires":[["e32408e6.8f8348"]]},{"id":"e32408e6.8f8348","type":"http request","z":"29150a19.afff06","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://agroiot-db-316900-default-rtdb.firebaseio.com/soil_moist.json","tls":"","persist":false,"proxy":"","authType":"","x":1219.0000038146973,"y":1420.0000047683716,"wires":[["dcae1a6d.07a0c8"]]},{"id":"dcae1a6d.07a0c8","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1379.0000038146973,"y":1420.0000047683716,"wires":[]},{"id":"5ff3e4c1.93df8c","type":"http request","z":"29150a19.afff06","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://agroiot-db-316900-default-rtdb.firebaseio.com//soil_temp.json","tls":"","persist":false,"proxy":"","authType":"","x":1239.0000038146973,"y":1360.0000047683716,"wires":[["877e8808.beefa8"]]},{"id":"e6d16553.f88c18","type":"http request","z":"29150a19.afff06","name":"PIN_request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://agroiot-db-316900-default-rtdb.firebaseio.com/userconfig.json","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":20,"wires":[["1af4bbb4.a68694"]]},{"id":"cc9a63b.ccc38a","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"1af4bbb4.a68694","type":"function","z":"29150a19.afff06","name":"format_pin","func":"var pin=msg.payload\npin=pin.replace(\"\\\"\",\"\")\npin=pin.replace(\"\\\"\",\"\")\npin=pin.split(\",\")\nglobal.set(\"pin\",pin)\nreturn {payload:pin};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":80,"wires":[["cc9a63b.ccc38a"]]},{"id":"5c8b2993.54a638","type":"function","z":"29150a19.afff06","name":"Round_moist","func":"var msg_temp_1 = {};\n\n\nmsg_temp_1.payload= Math.round(msg.payload.data[0].soil_moisture);\nmsg_temp_1.topic =\"Temperature\";\n\nreturn msg_temp_1","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1380,"wires":[["d46834e0.43d1a8","9f840ad.546daf8","fdf91cfe.0725c"]]},{"id":"1eebc075.90736","type":"ui_text","z":"29150a19.afff06","group":"c8ea8a05.e61848","order":4,"width":6,"height":2,"name":"Pin_status","label":"","format":"{{msg.payload}}","layout":"col-center","x":1390,"y":400,"wires":[]},{"id":"f022e02b.ef001","type":"ui_text_input","z":"29150a19.afff06","name":"","label":"Old-PIN","tooltip":"","group":"c8ea8a05.e61848","order":2,"width":6,"height":2,"passthru":false,"mode":"password","delay":"300","topic":"topic","topicType":"msg","x":780,"y":340,"wires":[["7d45b15b.fe51c"]]},{"id":"ffdb4548.908d98","type":"ui_text_input","z":"29150a19.afff06","name":"","label":"New-PIN","tooltip":"","group":"c8ea8a05.e61848","order":3,"width":6,"height":2,"passthru":false,"mode":"password","delay":"300","topic":"topic","topicType":"msg","x":780,"y":400,"wires":[["79de35.770e81cc"]]},{"id":"9c92f470.46d0a8","type":"ui_button","z":"29150a19.afff06","name":"","group":"c8ea8a05.e61848","order":5,"width":6,"height":2,"passthru":false,"label":"Change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":780,"y":440,"wires":[["6abff72e.4f1ca8","79de35.770e81cc","7d45b15b.fe51c"]]},{"id":"7d45b15b.fe51c","type":"function","z":"29150a19.afff06","name":"old_pin","func":"global.set(\"old-pin\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":340,"wires":[[]]},{"id":"79de35.770e81cc","type":"function","z":"29150a19.afff06","name":"new_pin","func":"global.set(\"new-pin\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":380,"wires":[[]]},{"id":"6abff72e.4f1ca8","type":"function","z":"29150a19.afff06","name":"check_pin","func":"var old_pin=global.get(\"old-pin\");\nvar new_pin=global.get(\"new-pin\");\nvar pin=global.get(\"pin\");\n\nif(old_pin==pin){\n    pin=new_pin;\n    global.set(\"modified-pin\",pin);\n    return {payload:\"PIN has been changed successfully.\"};\n}else{\n    return {payload:\"Check your PIN.\"};\n}","outputs":1,"noerr":0,"initialize":"return {payload:\"\"};","finalize":"","libs":[],"x":980,"y":420,"wires":[["1eebc075.90736","2cf476d9.c09aca"]]},{"id":"2cf476d9.c09aca","type":"function","z":"29150a19.afff06","name":"set_pin_firebase","func":" \n\nreturn { payload:global.get(\"modified-pin\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":480,"wires":[["5b933cdf.416c84"]]},{"id":"5b933cdf.416c84","type":"http request","z":"29150a19.afff06","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://agroiot-db-316900-default-rtdb.firebaseio.com/userconfig.json","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":480,"wires":[["2c6146b6.e00cda","7b9ecbc3.c73964"]]},{"id":"2c6146b6.e00cda","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":480,"wires":[]},{"id":"f20e90dc.c8641","type":"change","z":"29150a19.afff06","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":340,"wires":[["1eebc075.90736","f022e02b.ef001","ffdb4548.908d98"]]},{"id":"7b9ecbc3.c73964","type":"delay","z":"29150a19.afff06","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":440,"wires":[["f20e90dc.c8641"]]},{"id":"8df4b8e7.b431a8","type":"function","z":"29150a19.afff06","name":"show Account","func":"msg.payload = {\"tabs\":{\"show\":[\"Account-Settings\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":140,"wires":[["de8c5fe.ddab6a"]]},{"id":"de8c5fe.ddab6a","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":1320,"y":200,"wires":[[]]},{"id":"be5a9dc4.550ca","type":"ui_text_input","z":"29150a19.afff06","name":"","label":"Latitude","tooltip":"","group":"bc09d8d7.724818","order":1,"width":6,"height":2,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":100,"y":300,"wires":[["57ab4f22.aa616"]]},{"id":"117dcce9.ad8b83","type":"ui_text_input","z":"29150a19.afff06","name":"","label":"Longtitude","tooltip":"","group":"bc09d8d7.724818","order":2,"width":6,"height":2,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":100,"y":420,"wires":[["46ba1f31.3c149"]]},{"id":"57ab4f22.aa616","type":"change","z":"29150a19.afff06","name":"","rules":[{"t":"set","p":"lat","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":300,"wires":[[]]},{"id":"46ba1f31.3c149","type":"change","z":"29150a19.afff06","name":"","rules":[{"t":"set","p":"long","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":420,"wires":[[]]},{"id":"1c4a5526.e9c8bb","type":"function","z":"29150a19.afff06","name":"","func":"let lat_input = global.get(\"lat\");\nlet long_input = global.get(\"long\");\n\n\nreturn{\n        location:{\n            lat:lat_input,\n            lon:long_input\n        }\n        \n}\n\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":700,"wires":[["340d067f.2f180a"]]},{"id":"99dd591d.742578","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.location","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":580,"wires":[]},{"id":"765e4fee.4109e","type":"ui_button","z":"29150a19.afff06","name":"","group":"bc09d8d7.724818","order":3,"width":6,"height":2,"passthru":false,"label":"Change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":500,"wires":[[]]},{"id":"2d1f4c2c.73cac4","type":"function","z":"29150a19.afff06","name":"","func":"let lat_input = global.get(\"lat\");\nlet long_input = global.get(\"long\");\n\nmsg = {\n  url: 'https://api.ambeedata.com/soil/latest/by-lat-lng?lat='+lat_input+'&lng='+long_input\n\n};\nreturn msg;\n\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":940,"wires":[["dbe7b1a1.3d78a"]]},{"id":"5f2385bc.724d7c","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1180,"wires":[]},{"id":"de3c5972.6fb928","type":"ui_button","z":"29150a19.afff06","name":"","group":"31df1cc4.2922d4","order":3,"width":6,"height":2,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1760,"wires":[["4de3b125.d44d2","710eb3d9.b17904","40aa56a7.9b1fd","4865bba9.8158f4"]]},{"id":"f35c31dd.d1a4a","type":"function","z":"29150a19.afff06","name":"show weather","func":"msg.payload = {\"tabs\":{\"show\":[\"Control-Panel\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":280,"wires":[["b93364e8.2cba58"]]},{"id":"b93364e8.2cba58","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":1420,"y":280,"wires":[[]]},{"id":"64f9caf.8ae5034","type":"function","z":"29150a19.afff06","name":"function","func":"// var msg_temp = {};\n// var msg_moisture={};\n// var msg_final={};\n\n// msg_temp.payload= Math.round(msg.payload.data[0].soil_temperature);\n// msg_temp.topic =\"Temperature\";\n\n// msg_moisture.payload=  msg.payload.data[0].soil_moisture;\n// msg_moisture.topic =\"moisture\";\n\n// return [msg_temp , msg_moisture]\n\nvar today = new Date();\n\nvar date = today.getFullYear()+\n            '-'+ (today.getMonth()+1)+\n            '-'+ today.getDate() + \n            ' ' + today.getHours() + \n            \":\" + today.getMinutes() + \n            \":\" + today.getSeconds();\n\nvar new_payload = date;\nnew_payload += \"   \";\n\nnew_payload = new_payload + msg.payload.data[0].soil_moisture + \"    \" + msg.payload.data[0].soil_temperature;\nreturn { payload: new_payload };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1820,"wires":[["c7b64018.c6ffc"]]},{"id":"c7b64018.c6ffc","type":"GSheet","z":"29150a19.afff06","creds":"a65cedfe.c13bc","method":"append","action":"","sheet":"1321-9NrBzQR_PAuiv7JhMjZSrdotvAa94tviypPeYRI","cells":"sheet2!A2","flatten":false,"name":"","x":1115,"y":1800,"wires":[[]],"l":false},{"id":"877e8808.beefa8","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1409.0000038146973,"y":1360.0000047683716,"wires":[]},{"id":"5761b516.c71f9c","type":"ui_text_input","z":"29150a19.afff06","name":"","label":"Motor ON Time (Minutes)","tooltip":"","group":"31df1cc4.2922d4","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":250,"y":1700,"wires":[["713f153e.f59a4c"]]},{"id":"713f153e.f59a4c","type":"function","z":"29150a19.afff06","name":"on_time","func":"global.set(\"on-time\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1700,"wires":[[]]},{"id":"8daf6187.2807f","type":"mqtt out","z":"29150a19.afff06","name":"","topic":"AgroIoT/IN","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f2d94cc.b2e208","x":510,"y":1760,"wires":[]},{"id":"4de3b125.d44d2","type":"function","z":"29150a19.afff06","name":"pass_on_time","func":"\nreturn {payload:\"ON_\"+global.get(\"on-time\")};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1800,"wires":[["8daf6187.2807f"]]},{"id":"710eb3d9.b17904","type":"change","z":"29150a19.afff06","name":"globalSwap","rules":[{"t":"set","p":"timer","pt":"global","to":"on-time","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1960,"wires":[[]]},{"id":"9c7af1d5.40953","type":"function","z":"29150a19.afff06","name":"","func":"let timer=global.get(\"timer\");\nlet payload=\"Motor has been turned on.\\n Remaining Time \"+timer+\" minutes\";\nif (timer<=0){\n    payload=\"\";\n}\n\ntimer--;\nglobal.set(\"timer\",timer);\nreturn {\n    payload:payload\n};","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nlet timer=0;","finalize":"","libs":[],"x":570,"y":1860,"wires":[["7642b36e.a4cd74"]]},{"id":"40aa56a7.9b1fd","type":"trigger","z":"29150a19.afff06","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":350,"y":1880,"wires":[["9c7af1d5.40953"]]},{"id":"7642b36e.a4cd74","type":"ui_text","z":"29150a19.afff06","group":"31df1cc4.2922d4","order":2,"width":0,"height":0,"name":"El.Time","label":"","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":1880,"wires":[]},{"id":"4865bba9.8158f4","type":"change","z":"29150a19.afff06","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":1940,"wires":[["5761b516.c71f9c"]]},{"id":"400aa0dd.3fed3","type":"function","z":"29150a19.afff06","name":"","func":"\nlet pump_state = \"OFF\";\n\nlet humidity = msg.payload.humidity ;\nlet temperature = msg.payload.tempc ;\n\n\nlet hum_threshold = global.get(\"hum\");\nlet temp_threshold = global.get(\"temp\");\n\n\n\n\n\n\nif ((humidity < hum_threshold ) && (temperature > temp_threshold))\n{\n    pump_state = \"ON\";\n} \n\nelse{\n    pump_state = \"OFF\";\n}\n\nreturn {payload: pump_state};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":840,"wires":[["a53e5750.69e1b8"]],"outputLabels":["Temp Max"]},{"id":"8e77c491.f42bd8","type":"function","z":"29150a19.afff06","name":"","func":"\nlet soil_moisture = msg.payload.data[0].soil_moisture ;\n\nlet soil_temperature = msg.payload.data[0].soil_temperature ;\n\n\nlet pump_state = \"OFF\";\n\n\nlet hum_threshold = global.get(\"soil_hum\");\nlet temp_threshold = global.get(\"soil_temp\");\n\n\n\n\n\n\nif ((soil_moisture < hum_threshold ) && (soil_temperature > temp_threshold))\n{\n    pump_state = \"ON\";\n} \n\nelse{\n    pump_state = \"OFF\";\n}\n\nreturn {payload: pump_state};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1520,"wires":[["991601a6.9c526","e7df7868.7e0b58"]],"outputLabels":["Temp Max"]},{"id":"5e452f63.4df82","type":"ui_button","z":"29150a19.afff06","name":"","group":"784c5290.067adc","order":4,"width":2,"height":1,"passthru":false,"label":"<---","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":280,"y":2160,"wires":[["6edb7346.52657c"]]},{"id":"e4299f82.53db5","type":"ui_button","z":"29150a19.afff06","name":"","group":"784c5290.067adc","order":5,"width":2,"height":1,"passthru":false,"label":"--->","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":610,"y":2160,"wires":[["26670708.b60818"]]},{"id":"6edb7346.52657c","type":"function","z":"29150a19.afff06","name":"Focus weather","func":"msg.payload = \"MyFarm-Weather\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2280,"wires":[["5137ccc9.acb654"]]},{"id":"5137ccc9.acb654","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":590,"y":2320,"wires":[[]]},{"id":"26670708.b60818","type":"function","z":"29150a19.afff06","name":"Focus weather","func":"msg.payload = \"Account-Settings\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2240,"wires":[["8b0d6b33.25eea8"]]},{"id":"8b0d6b33.25eea8","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":830,"y":2280,"wires":[[]]},{"id":"d729afea.a0416","type":"ui_button","z":"29150a19.afff06","name":"","group":"bc09d8d7.724818","order":6,"width":2,"height":1,"passthru":false,"label":"<---","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":2400,"wires":[["3118021a.3bbafe"]]},{"id":"ea87da9d.7afc18","type":"ui_button","z":"29150a19.afff06","name":"","group":"bc09d8d7.724818","order":7,"width":2,"height":1,"passthru":false,"label":"--->","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":660,"y":2400,"wires":[["29bfd11c.125b7e"]]},{"id":"3118021a.3bbafe","type":"function","z":"29150a19.afff06","name":"Focus weather","func":"msg.payload = \"MyFarm-Soil\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":2520,"wires":[["95398c9d.b73a2"]]},{"id":"95398c9d.b73a2","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":640,"y":2560,"wires":[[]]},{"id":"29bfd11c.125b7e","type":"function","z":"29150a19.afff06","name":"Focus weather","func":"msg.payload = \"Control-Panel\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":2480,"wires":[["91473e5b.f133e"]]},{"id":"91473e5b.f133e","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":880,"y":2520,"wires":[[]]},{"id":"f328fddd.db231","type":"ui_button","z":"29150a19.afff06","name":"","group":"31df1cc4.2922d4","order":6,"width":2,"height":1,"passthru":false,"label":"<---","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":2620,"wires":[["6240cbb3.1753c4"]]},{"id":"6240cbb3.1753c4","type":"function","z":"29150a19.afff06","name":"Focus weather","func":"msg.payload = \"Account-Settings\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":2740,"wires":[["3aa6a022.2b177"]]},{"id":"3aa6a022.2b177","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":640,"y":2780,"wires":[[]]},{"id":"de7d7d0d.57f84","type":"function","z":"29150a19.afff06","name":"Focus weather","func":"msg.payload = \"MyFarm-Weather\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2700,"wires":[["ba79b8bd.89b5d8"]]},{"id":"ba79b8bd.89b5d8","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":880,"y":2740,"wires":[[]]},{"id":"eed63798.62d1b8","type":"ui_button","z":"29150a19.afff06","name":"","group":"dcc96526.773b08","order":4,"width":2,"height":1,"passthru":false,"label":"<---","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":2880,"wires":[["f3d2dd2d.97f07"]]},{"id":"8bc139b4.12aa58","type":"ui_button","z":"29150a19.afff06","name":"","group":"dcc96526.773b08","order":5,"width":2,"height":1,"passthru":false,"label":"--->","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":700,"y":2880,"wires":[["5afc9e0a.8c26a"]]},{"id":"f3d2dd2d.97f07","type":"function","z":"29150a19.afff06","name":"Focus weather","func":"msg.payload = \"Control-Panel\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3000,"wires":[["adddfdab.ee6c"]]},{"id":"adddfdab.ee6c","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":680,"y":3040,"wires":[[]]},{"id":"5afc9e0a.8c26a","type":"function","z":"29150a19.afff06","name":"Focus weather","func":"msg.payload = \"MyFarm-Soil\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":2960,"wires":[["dd587655.158468"]]},{"id":"dd587655.158468","type":"ui_ui_control","z":"29150a19.afff06","name":"","events":"change","x":920,"y":3000,"wires":[[]]},{"id":"4a44bb1.d6e4644","type":"ui_button","z":"29150a19.afff06","name":"","group":"31df1cc4.2922d4","order":7,"width":2,"height":1,"passthru":false,"label":"--->","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":570,"y":2640,"wires":[["de7d7d0d.57f84"]]},{"id":"991601a6.9c526","type":"switch","z":"29150a19.afff06","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1360,"y":1540,"wires":[["b8bc13d8.42e4a"]]},{"id":"a53e5750.69e1b8","type":"switch","z":"29150a19.afff06","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1080,"y":840,"wires":[["eaacb61.e6b3948"]]},{"id":"77d77b8a.fa9c64","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":1540,"wires":[]},{"id":"ddc70b3b.d656c8","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1460,"y":840,"wires":[]},{"id":"b8bc13d8.42e4a","type":"sendsms","z":"29150a19.afff06","creds":"602ab81.1793a48","to":"+94774384413","fr":"AgroIoT","text":"Threshold of soil parameters were exceeded.! Turn-on motor.","unicode":false,"x":1575,"y":1560,"wires":[["77d77b8a.fa9c64"]],"l":false},{"id":"eaacb61.e6b3948","type":"sendsms","z":"29150a19.afff06","creds":"602ab81.1793a48","to":"+94774384413","fr":"AgroIoT","text":"Threshold of Atmosphere parameters were exceeded.! Turn-on motor.","unicode":false,"x":1255,"y":840,"wires":[["ddc70b3b.d656c8"]],"l":false},{"id":"c53f9eb7.b1147","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":960,"wires":[]},{"id":"cccc17a8.d6f6d8","type":"change","z":"29150a19.afff06","name":"","rules":[{"t":"set","p":"hum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":3320,"wires":[[]]},{"id":"1f7d8a2.7626776","type":"change","z":"29150a19.afff06","name":"","rules":[{"t":"set","p":"temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":3440,"wires":[[]]},{"id":"28f519cc.746b96","type":"ui_button","z":"29150a19.afff06","name":"","group":"3d121e4.32d3fe2","order":5,"width":6,"height":2,"passthru":false,"label":"Change","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":300,"y":3640,"wires":[[]]},{"id":"d49d96b5.6c64c8","type":"change","z":"29150a19.afff06","name":"","rules":[{"t":"set","p":"soil_hum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":3160,"wires":[[]]},{"id":"97e37808.9ea8f8","type":"change","z":"29150a19.afff06","name":"","rules":[{"t":"set","p":"soil_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":3260,"wires":[[]]},{"id":"9d87e8b4.8d9478","type":"ui_text_input","z":"29150a19.afff06","name":"","label":"Atmosphere Temperature","tooltip":"","group":"3d121e4.32d3fe2","order":3,"width":6,"height":2,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":190,"y":3440,"wires":[["1f7d8a2.7626776"]]},{"id":"851a1209.bdb4b","type":"ui_text_input","z":"29150a19.afff06","name":"","label":"Atmosphere Humidity","tooltip":"","group":"3d121e4.32d3fe2","order":1,"width":6,"height":2,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":180,"y":3340,"wires":[["cccc17a8.d6f6d8"]]},{"id":"4765e14e.490d6","type":"ui_text_input","z":"29150a19.afff06","name":"","label":"Soil Temperature","tooltip":"","group":"3d121e4.32d3fe2","order":4,"width":6,"height":2,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":170,"y":3260,"wires":[["97e37808.9ea8f8"]]},{"id":"c958b1c0.eb6f9","type":"ui_text_input","z":"29150a19.afff06","name":"","label":"Soil Moisture","tooltip":"","group":"3d121e4.32d3fe2","order":2,"width":6,"height":2,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":150,"y":3160,"wires":[["d49d96b5.6c64c8"]]},{"id":"fdf91cfe.0725c","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":1180,"wires":[]},{"id":"b9eaf59a.d34d08","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":1220,"wires":[]},{"id":"e7df7868.7e0b58","type":"debug","z":"29150a19.afff06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":1480,"wires":[]},{"id":"50a8a46c.e518dc","type":"ui_group","name":"AgroIOT","tab":"7b5e9631.bc5a78","order":1,"disp":true,"width":"6","collapse":false},{"id":"4af0399c.9731f8","type":"ui_group","name":"Pin","tab":"7b5e9631.bc5a78","order":2,"disp":false,"width":"6","collapse":false},{"id":"2a22b963.41b466","type":"ui_group","name":"Measurment","tab":"2b35e19f.5e704e","order":1,"disp":true,"width":"6","collapse":false},{"id":"dcc96526.773b08","type":"ui_group","name":"Graphs","tab":"2b35e19f.5e704e","order":2,"disp":true,"width":"6","collapse":false},{"id":"efbe594.005aea8","type":"ui_group","name":"Measurment","tab":"a17b9749.b4a438","order":5,"disp":true,"width":"6","collapse":false},{"id":"784c5290.067adc","type":"ui_group","name":"Graphs","tab":"a17b9749.b4a438","order":6,"disp":true,"width":"6","collapse":false},{"id":"a65cedfe.c13bc","type":"gauth"},{"id":"c8ea8a05.e61848","type":"ui_group","name":"Set-PIN","tab":"e28563.20ffcaa","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc09d8d7.724818","type":"ui_group","name":"Set-Location","tab":"e28563.20ffcaa","order":3,"disp":true,"width":"6","collapse":false},{"id":"31df1cc4.2922d4","type":"ui_group","name":"ON-Switch","tab":"e3f774ee.335fc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f2d94cc.b2e208","type":"mqtt-broker","name":"http://test.mosquitto.org/ ","broker":"http://test.mosquitto.org/ ","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"602ab81.1793a48","type":"nexmobasic"},{"id":"3d121e4.32d3fe2","type":"ui_group","name":"Set-Thresholds","tab":"e28563.20ffcaa","order":2,"disp":true,"width":"6","collapse":false},{"id":"7b5e9631.bc5a78","type":"ui_tab","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2b35e19f.5e704e","type":"ui_tab","name":"MyFarm-Weather","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a17b9749.b4a438","type":"ui_tab","name":"MyFarm-Soil","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"e28563.20ffcaa","type":"ui_tab","name":"Account-Settings","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"e3f774ee.335fc8","type":"ui_tab","name":"Control-Panel","icon":"dashboard","order":6,"disabled":false,"hidden":false}]